body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #e4d1c0;
}

header {
    background-color: #fd834e;
    color: white;
    padding: 15px;
}

#painel-controle {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.controle {
    background: white;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #fd834e;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#mapa {
    margin: 20px auto;
    padding: 20px;
    background: white;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#mapa-container {
    height: 400px;
    margin-top: 20px;
}
